

body{

}

.jumbotron{

    background-image: url("../img/greenPlaceDark.png");
    width: 100%;
    padding: 9rem 2rem;

    background-size: cover;
    margin-bottom: 0px;
}

/*.header {

    background-image: url("../img/greenPlace.png");
    position: relative;
    width: 100vh;
    height: 100vh;
    background-size: 100%S;
    margin-bottom: 0px;
    /*background-color:  #d24a27;


}*/

.layer-red {
    background-color: rgba(217, 102, 73, 0.50);
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-container{
    margin-left: 15%;
    /*margin-top: 15%;*/
}

/*.title-container, p {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-align: left;
    font-size: 1.7em ;
}*/

.subtitle-text1{
     font-family: 'Raleway',sans-serif;
    text-align: left;
    font-size: 45px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;

    color: whitesmoke;
}

.subtitle-text2{
    font-family: 'Krona One', sans-serif;
    text-align: left;
    font-size: 20px;
    color: whitesmoke;

}

.scrow-down{
    margin-top: 50px;
    color: #E6AE48;
   }

.scrow-down-fa{
 font-size: 2em;

}

/* SCROLL DOWN BUTTON */
.btn-circle {
    width: 70px;
    height: 70px;
    border: 2px solid whitesmoke;
    border-radius: 100%;
}

.btn-circle:hover {
    /*background: rgba(255,255,255,0.1);*/
    background: rgba(230,174,72,0.1);
}


#bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.tech-container{
    margin: 0;
    padding: 0;
    border: 0;

}



/* PAGES
-------------------------------------------------- */

.my-skills {

    padding: 6rem 2rem ;
    /*font-family: 'Krona One', sans-serif;*/

    background-color: #f5f5f5;
}

h1{
    font-size: 50px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    color: whitesmoke;

}

h2{

    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #393939;

}

h3{

    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #8b8b8b;

}

/*.my-skills, h2{

    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #393939;

}



.my-skills, h3{

    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #8b8b8b;

}*/

.my-skills, h4{
    font-size: 12px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #E6AE48;
}

p{
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #8d8d8d;
    font-weight: 400;
}


.page-title{
    font-family: 'Raleway',sans-serif;
    padding-bottom: 120px;
}

/*.my-skills .col-md-4 {
    text-align: center;
    font-size: 12px;
    color: #E6AE48;
}*/

.my-skills .col-md-4 .glyphicon {
    font-size: 20px;
   /* background-color: #EAEAEA;*/
    border-radius: 50%;
    padding: 40px;
    /*color: #444;*/
    color: #AC8841;
}

.my-sikill-fa{
    font-size: 3em;
}

.my-portfolio{
    margin: 0;
    padding-top: 60px;
    /*padding-left: 15%;*/
    padding-bottom: 120px;
    font-family: 'Krona One', sans-serif;
    background-color: #F3F3F3;
    padding: 6rem 2rem ;
}



.card-deck{
    background-color: #F3F3F3;
}

.card, h4{
    font-size: 20px;
    text-align: center;
}

.card-p{
    font-size: 14px;
    text-align: center;
    color: darkslategrey;
}

.card, image{
    padding: 10px;
}

/*CONTACT ME PAGE
---------------------------------------------------*/

.faEnvelope{

    font-size: 6.0em;
    color: #AC8841;;
}
.contact-me{
    padding-top: 100px;
    padding-bottom: 40px;
}


/* FOOTER
-------------------------------------------------- */

.footer,
footer {

    width: 100%;
    position: relative;
    /* Set the fixed height of the footer here */
    height: auto;
    background: #444;
    color: white;
}


.footer-social{
    font-family: 'Krona One', sans-serif;
    background-color: #444;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-copyright{
    font-family: 'Krona One', sans-serif;
    font-size: .4em;
    background-color: #444;
}



.btn-default{
   /* Social network icons*/
    color:  #AC8841 ;
    background-color: white;
    padding: 10px;

}
